{{!-- Buttons Component to control animation SVG picture --}}
<div class="page-header">
    <span>Atölye Modeli</span>
    <button  class="btns btns_first" data-i="0">Yok</button>
    <button  class="btns btns_second" data-i="1">Pasif</button>
    <button  class="btns btns_last" data-i="2">Aktif</button>
</div>